/*.swipe-buttons {
	text-align:center;
}

.swipe-buttons button #abandon {
	margin-left:5%;
}*/

.thumbnails {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: -20%;
}

.thumbnail-button {
	margin-top: 10%;
	display: inline-block;
	vertical-align: middle;
	background-color: #bb7d06;
	height: 50px;
	width: 50px;
}

img.thumbnail {
	height: 50px;
	width: 50px;
}

.confirmButtons {
	margin-top: 2%;
	text-align: center;
}

.no {
	display: inline-block;
	/*margin-left: auto;*/
	margin-right: 10px;
}

.yes {
	display: inline-block;
	margin-left: 10px;
	/*margin-right: auto;*/
}

#left-arrow {
	position: absolute;
	 top: -webkit-calc(50% - 19px);
	 top: -moz-calc(50% - 19px);
	 top: -ms-calc(50% - 19px);
	 top: calc(50% - 19px);
	 width: 38px;
	 height: 38px;
	 left:1%;
	 z-index:1;
	 padding:0;
	 float: right;
}

#right-arrow {
	position: absolute;
	 top: -webkit-calc(50% - 19px);
	 top: -moz-calc(50% - 19px);
	 top: -ms-calc(50% - 19px);
	 top: calc(50% - 19px);
	 width: 38px;
	 height: 38px;
	 right:1%;
	 z-index:1;
	 padding:0;

}


.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

/*.float {
	margin-top:2%;
}*/

#facts {
	color: #802200;
	font-weight:bold;
	font-size: 1.5em;
}

#pet-age, #pet-color, #pet-gender, #pet-size, #pet-type {
	margin-left: 2%;
	font-weight:bold;
}

#description {
	/*margin-left: 25px;*/
	color:#1c2833;
}


/*.confirmButtons{
	padding-left: 200px;
}*/

.allPets {
	height:100%;
	width: 100%;
	border:1px;
	overflow:auto;
	overflow-x:hidden;
}
.petsList {
	display: inline-flex;
}

.petsList>div>img {
	height: 75px;
	width: 75px;
}

.petsList>.petName{
	padding-left: 20px;
}

/*.smallPic {
	height: 100px;
	width: 100px;
}*/

/*makes carousel arrows transparent, but still clickable on left and right*/
a.carousel-control.right, a.carousel-control.left {
	opacity: 0;
    filter:alpha(opacity=0);
}

.carousel-inner .item img{
    width: 100%;
}

div.carousel.slide {
	width:65%;
	height: auto;
	margin: 0 auto;
}

.carousel-indicators li {
  background-color:#db9128;
  border: 1px solid #db9128;
}

.carouse-indicatrs {
	bottom:-10%;
	position:absolute;
}
.display-4 {
	font-size:2em;
	text-align:center;
	margin-top:3%;
}

.pet-bio-info {
	margin-top:5%;
}

.about-1 {
	/*background-color:yellow;*/
	display: inline-block;
	text-align: left;
	float:left;
}

.about-2 {
	/*background-color:coral;*/
	display: inline-block;
	text-align: left;
	overflow-y: auto;
	float:left;
}

/*.petDescription {
	margin-top:3%;
}*/


#locationText {
	color: #802200;
}

/*.locationInfo {
	margin-left:3%;
}*/

@media (max-width: 992px) {

  .thumbnail-button {
  	margin-left: 1.5%;
  	margin-right: 1.5%;
		display: inline-block;
  }

  .pet-bio-info, .locationInfo{
  	text-align: center;
  }

  .nested {
  	display: inline-block;
  }
}
@media (max-width: 928px) and (max-width: 844px)
{
	.thumbnails{
		margin-top: 10%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: -20%;
	}
}

/*this is when the 9 and 3 columns for the first-half stack*/
@media (max-width: 844px) and (min-width: 200px) {
	.thumbnails {
		margin-top: 0;
		margin-left: 0;
		flex-direction: row;
		align-item: center;
		justify-content: center;
	}
}
