.home{
	height: 100%;
}

.swipe-buttons {
	text-align:center;
}

.swipe-buttons button #abandon {
	margin-left:5%;
}

.confirmButtons {
	margin-top: 20px;
	text-align: center;
}

.no {
	display: inline-block;
	/*margin-left: auto;*/
	margin-right: 10px;
}

.yes {
	display: inline-block;
	margin-left: 10px;
	/*margin-right: auto;*/
}

#left-arrow {
	position: absolute;
	 top: -webkit-calc(50% - 19px);
	 top: -moz-calc(50% - 19px);
	 top: -ms-calc(50% - 19px);
	 top: calc(50% - 19px);
	 width: 38px;
	 height: 38px;
	 left:1%;
	 z-index:1;
	 padding:0;
	 float: right;
}

#right-arrow {
	position: absolute;
	 top: -webkit-calc(50% - 19px);
	 top: -moz-calc(50% - 19px);
	 top: -ms-calc(50% - 19px);
	 top: calc(50% - 19px);
	 width: 38px;
	 height: 38px;
	 right:1%;
	 z-index:1;
	 padding:0;

}


.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.float {
	margin-top:2%;
}

#facts {
	color: #802200;
	font-weight:bold;
	font-size: 20px;
}

#pet-breed {
	display: inline-block;
	width: 55px;
	margin-left: 15px;
	font-weight:bold;
}

#pet-age {
	display: inline-block;
	width: 55px;
	margin-left: 15px;
	font-weight:bold;
}

#pet-color {
	display: inline-block;
	width: 55px;
	margin-left: 15px;
	font-weight:bold;
}

#pet-gender {
	display: inline-block;
	width: 55px;
	margin-left: 15px;
	font-weight:bold;
}


#description {
	margin-left: 25px;
	color:#1c2833;
}


/*.confirmButtons{
	padding-left: 200px;
}*/

.allPets {
	height:100%;
	width: 100%;
	border:1px;
	overflow:auto;
	overflow-x:hidden;
}
.petsList {
	display: inline-flex;
}

.petsList>div>img {
	height: 75px;
	width: 75px;
}

.profile{
 height: 100%;
 margin-top:10%;
 }

.petsList>.petName{
	padding-left: 20px;
	display: ;
}

.row .profile{
	height:100%};
}
/*.smallPic {
	height: 100px;
	width: 100px;
}*/
