.missionpage{
	padding-top: 100px;
	background: #FFDAB9;
}


.missionpage #mission_text{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.missionpage #mission_heads{
	text-align: center
}

/*icon navbar*/
.icon-bar {
    width: 40%;
    text-align: center;
    background-color: #555;
	margin: auto;
  	position: absolute;
  	top: 0; right: 0;
}

.icon-bar a {
    width: 20%;
    padding: 12px 0;
    float: left;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #ecb071;
}

.active {
    background-color: #f48e23 !important;
}

#title {
	float:right;
	position: absolute;
	left:0;
}

img{
	width:50px;
	height:50px;
}
