.profile {
	display:inline-flex;
	padding:0px;
	/*overflow:hidden;*/
}

div.col-sm-6.container.profile-right {
	/*background-color:beige;*/
	overflow-y:auto;
}

div.col-sm-6.container.profile-left {
	background-color: rgb(247, 235, 194);
}

div.col-sm-3.container.profile-top-left {
	/*background-color:orange;*/
	padding:0px;
	width:50%;
}

div.col-sm-3.container.profile-top-right {
	/*background-color:green;*/
	padding:0px;
	width:50%;
}

div.col-sm-6.container.profile-bot-left {
	/*background-color:yellow;*/
	width:100%;
	padding:0px;
}


#addPet {
	background-color:#db9128;
	color:white;
	float:right;
}

#addPet:hover {
	background-color: #f4c827;
	border-style: solid;
    border-color: yellow;
}

.addPet:hover, .addPet:active, .addPet:focus {
	background-color:#fba62b;

}

#settings-page{
	color:#db9128;
}

.petName a {
	color:#db9128;

}

#profile-title {
	color:#802200;
	font-size:2em;
}

#user-pic {
	width:80%;
	display:block;

}

#user-name {
	margin-top:10px;

}

#settingsText {
	font-size:1.2em;
}

.fa {
	color:#db9128;
	border-color:#db9128;
	margin-right:2%;
}

#owner, #pet-location, #settings-page {
	font-size:1.1em;
}

div.container.user-info {
	overflow-y:auto;
	max-height:170px;
	width:100%;
}

.petsList {
	width:100%;
}
