.signup{
	/*height:120%;*/
	overflow-x:hidden;
}

.signup-form .main-content {
	margin: auto;
  	position: absolute;
  	margin:2%;
}

.signup-form input, textarea, #state {
	background: #ffcc85;
	border:1.5px solid #f48e23;
	margin-bottom:1%;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

}

.signup-form input, #state {
	padding: .5%;
}

/* Style the text boxes */
.signup-form textarea {
	width:100%;
	height:90px;
	margin-top:3px;
	padding: .8%;
}

#signup-button, .login-button {
	margin-top:1%;
	margin-bottom:2%;
	padding-top: .8%;
	padding-bottom: .8%;
	padding-left: 2%;
	padding-right: 2%;
	font-size:1em;
	background-color: #bb7d06;
	text-align:center;
}


.btn-primary {
	border-color: #bb7d06;
}


input:focus, textarea:focus, #state:focus {
    border:1px solid #ba2100;

}

#select-pets label {
	margin-right:1%;
	margin-left:1%;
}

/* login */


.login {
  padding: 15px;
  width: 400px;
  min-height: 400px;
  margin: 2% auto 0 auto;
}

.login-button {
	margin-top:2%;
}

.login-pic {
	max-height:400px;
}

textarea  {
	color: black;
}

.asset {
	max-height:200px;
}

/*settings*/

#save-button{
    margin-right: 50%;
    margin-left: 45%;
    font-size:1em;
    margin-top:5%;
}

.settings{
	margin-left: 15%;
}

#signup-title {
/*	text-align:center;
*/}

/*div.col-sm-5.signup-Left {
	background-color:teal;

}
div.col-sm-5.signup-Right {
	background-color:coral;
}
*/
div.col-sm-1 {
	/*background-color:teal;*/
	height:100px;
}

div.col-sm-12.signup-body {
	/*background-color:yellow;*/
}

::-webkit-input-placeholder{
	color:brown;
}