/*div.child {
  text-align: center;
}*/
body {
	background-color: #f6b26b;
}

input {
	border-radius: 4px;
}

.defaultButton {
  width:  150px;
}

.main-content {
	background-color: #FFFFFF;
	margin: auto;
  position: absolute;
  top: 10%; left: 0; bottom: 0; right: 0;
  width: 80%; 
  height: 75%;
  padding-left: 40px;
  padding-right:40px;
  padding-top:10px;
  padding-bottom:10px;
  overflow-y:auto;
}

/*icon navbar*/

.icon-bar {
  width: 100%;
    text-align: center;
    background-color: transparent;
    margin: auto;
    position: absolute;
    top: 0; right: 0;
    z-index: 100;
}

.icon-bar a {
    width: 20%;
    padding: 12px 0;
    float: left;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    list-style: none;
}

.icon-bar a:hover {
    background-color: #ecb071;
}

.active {
    color: #f48e23 !important;
}

#title {
  float:right;
  position: absolute;
  left:0;
}

.main-logo {
  color:brown;
}

.nav-icon{
  max-height:100px;
}


nav > li > a > img {
  max-width:100px;
}

.navbar-nav > li {
  width:13%;
}

.navbar-default {
  border:none;
}